.search-form-wrapper {
  // text-align: center;
  // padding: 41px;
  // max-width: $max-width;
  // margin: 0 auto
  padding-bottom: 38px;
  margin-top: 76px;
  h2 {
    // padding-top: 40px;
    margin-top: 0;
    margin-bottom: 52px;
    font-size: 44px;
    font-weight: 300;
  }
  form {
    padding: 0px 30px;
    max-width: 982px;
    margin: 0 auto;
    input {
      transition: all 0.4s;
      box-sizing: border-box;
    }
    input,
    .user-select,
    .tag-wrapper {
      background-color: $color-input-bg;
    }
    .top-search {
      position: relative;
      height: 65px;
      padding-bottom: 37px;
      display: flex;
      input,
      button {
        flex: 1;
        margin: 0;
        padding: 0;
        border: 0;
        height: 100%;
      }
      input {
        border-top-left-radius: 11px;
        border-bottom-left-radius: 11px;
        padding: 0 33px;
        font-size: 18px;
        border: 1px solid $color-input-bg;
        &:focus {
          outline: none;
          background-color: $color-tag-bg;
          border: 1px solid rgba(162, 162, 162, 0.3);
          box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
          // inset -1px -1px 1px #fff;
        }
      }
      button {
        cursor: pointer;
        transition: all 0.4s;
        max-width: 100px;
        border-top-right-radius: 11px;
        border-bottom-right-radius: 11px;
        svg {
          transform: translate(1px, 3px);
        }
        @extend %gradient-background;
      }
      button:disabled {
        opacity: 0.3;
      }

      .suggestion {
        opacity: 0;
        transition: all 0.8s;
        display: none;
        position: absolute;
        left: 0;
        top: 66px;
        z-index: 1;
        text-align: left;
        background-color: $color-tag-bg;
        border-radius: 4px;
        border: 1px solid rgba(162, 162, 162, 0.3);
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
        &.hide {
          display: none;
        }
        &.show {
          display: block;
          opacity: 1;
        }
        ul {
          margin: 0;
          padding: 15px;
          list-style: none;
          max-height: 200px;
          overflow: scroll;
          li {
            padding: 4px 0;
            &:hover {
              cursor: pointer;
              color: $color-arrow;
              // background: $color-input-bg;
            }
          }
        }
      }
    }
    .search-option {
      .row {
        display: flex;
        height: 48px;
        padding-bottom: 17px;
        .user-select,
        .input-wrapper {
          flex: 1;
          height: 100%;
          width: 100%;
        }
        .user-select {
          max-width: 239px;
          margin-right: 25px;
          position: relative;
          span {
            margin-left: 12px;
            margin-top: 2px;
          }
          // overflow: hidden;
          ul {
            margin: 0;
            padding: 0;
            list-style: none;
            height: 100%;
            width: 100%;
            li {
              height: 100%;
              width: 100%;
              outline: white;
              border: 1px solid white;
            }
          }
          i {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-20px, 50%) rotate(0.25turn);
            color: $color-arrow;
          }
        }

        .tag-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-content: flex-start;
          align-items: center;
          padding-left: 13px;

          .tag {
            position: relative;
            height: 32px;
            border-radius: 25px;
            padding: 0 54px 0 22px;
            margin-right: 10px;
            // border: 1px solid #ccc;
            background: $color-tag-bg;
            display: flex;
            align-items: center;
            color: white;
            // box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 1px 1px #fff;
            cursor: default;
            span {
              font-size: 10px;
              margin-top: 2px;
            }
          }
          .tag .close {
            position: absolute;
            top: 0;
            right: 0;
            transform: translateY(50%);
            font-size: 16px;
            color: $color-orange;
            margin: 2px 13px 0 0;
          }
          input {
            padding: 5px;
            font-size: 16px;
            border: 0;
            font-family: 'Rubik';
            flex: 1;
          }
        }
      }
    }
  }
}

.search-results-wrapper {
  .results-header,
  .results-body {
    padding: 12px 30px 13px;
    max-width: 980px;
    margin: 0 auto;
  }
  .results-header {
    padding: 7px 30px 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    // margin: 26px auto 11px;
    h5 {
      font-size: 18px;
      font-weight: 400;
      // margin: 26px 0 23px 1px;
      margin: 0;
    }
    .display-style {
      display: flex;

      i {
        font-size: 30px;
        &.active {
          color: $color-orange;
        }
        &:first-child {
          padding-right: 20px;
          transform: translate(1px, -3px);
        }
        &:last-child {
          // padding-right: 20px;
          transform: translate(-3px, -3px) rotate(0.25turn);
        }
      }
    }
  }

  .results-body {
    // background-color: $color-input-bg;
    &:hover {
      .patient-details {
        background-color: $color-tag-bg;
      }
    }
    padding-top: 0;
    text-align: left;
    .patient-header,
    .patient-details {
      padding: 13px 8px;
    }
    .hl {
      background: $color-hl;
    }
    .uc {
      text-transform: uppercase;
    }
    .patient-header {
      position: relative;
      display: flex;
      align-items: center;
      background-color: $color-input-bg;
      // padding: 13px 8px;
      > * {
        flex: 1;
      }
      .type {
        box-sizing: border-box;
        max-width: 94px;
        padding: 9px 10px;
        margin-right: 23px;
        border-radius: 20px;
        background-color: $color-background;
        text-align: center;
        text-transform: uppercase;
        font-size: 9px;
      }
      .name {
      }
      .booked {
        position: relative;
        max-width: 27px;
        text-align: center;
        border: 2px solid white;
        border-radius: 50%;
        width: 28px;
        height: 27px;
        margin-right: 13px;
        i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.7);
        }
      }
    }

    .patient-details {
      background-color: $color-patient-details-bg;
      padding-top: 20px;
      transition: all 0.4s;
      height: 116px;
      overflow: scroll;
      // .hl {
      //   background: $color-hl;
      // }
      .cohorts-wrapper > :first-child,
      .details-wrapper > :first-child {
        text-transform: uppercase;
        padding: 4px 9px 0 17px;
        box-sizing: border-box;
        max-width: 101px;
        width: 100%;
        // margin-right: 23px;
        font-size: 13px;
      }
      .cohorts-wrapper {
        display: flex;
        align-items: center;
        padding-bottom: 32px;
        .cohorts-container {
          display: flex;
          .cohort-tag {
            text-transform: capitalize;
            margin-right: 10px;
            padding: 6px 17px;
            border-radius: 16px;
            background-color: $color-background;
            font-size: 12px;
          }
        }
      }
      .details-wrapper {
        display: flex;
        align-items: flex-start;
        .details-container {
          padding-top: 4px;
          p {
            margin: 0;
            font-size: 12px;
            line-height: 19px;
          }
        }
      }
    }
  }
}
